
<!--&lt;!&ndash;django v3 -> load static // XXX load staticfiles XXX &ndash;&gt;-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Page Wonder - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="./static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./static/css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="http://placehold.it/150x50?text=Logo" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Notice</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Page</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead" style="background-image: url(./static/img/bg-hero.jpg);">
    <!-- <div class="masthead-content"> -->
      <div class="container h-100">

        <div class="row h-100 d-flex align-items-center justify-content-center">
          <div class="col-lg-8 col-md-12 text-center">
            <h1 class="masthead-heading mb-0">Speechwow</h1>
            <h2 class="masthead-subheading mb-0">we open your wow</h2>
            <p class="masthead-description text-white mt-4 d-none d-md-block">An online venue to practice public speaking,
              to connect with, and to get inspired by members from all over the world.</p>
              <a href="#" class="btn btn-primary btn-lg rounded-pill mt-2">Learn More</a>
          </div>
        <!-- </div> -->
      </div>
    </div>
  </header>

  <section class="section-gap" >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid " src="./static/img/img_01.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-5">Why we do what we do? </h2>
            <p>Public speaking is one of the biggest fears people have. In fact, one researchstudy in The Journal of Education and Educational Development (Raja, 2017) showed that people “who fear public speaking can perform well if they use certain strategies to fight their fears.
              75% of participants admitted their fear of public speaking and 95% participants agreed that if proper counseling, instruction and coaching is provided, this fear can be overcome,” and that is what we can do for you and why we are here. No fear of public speaking? We can still help take your skills to the next level! </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid" src="./static/img/img_02.png" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-5">How can you benefit?</h2>
            <p>Confidence! Our evaluation teams are here to help take your presentation confidence to the next level.
              If you are like most people, you likely practice your presentations in front of a mirror and that is certainly better than no practice at all.

              However, how about practicing in front of a mirror, then practicing in front of a group of three highly-qualified evaluators who will provide you written feedback within three hours of finishing your presentation? Would that help take your next presentation to the next level? Of course! Increased confidence will lead to increased opportunities!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid" src="./static/img/img_01.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-5">Why we do what we do? </h2>
            <p>Our evaluators are native English-speaking teachers from America, Canada, England, Australia, Scotland, and South America. They all have extensive experience in public-speaking instruction and have completed SpeechWow’sintensive training program. They are especially skilled at delivering practical, positive, and meaningful feedback to help you Wow your next audience and every audience after that!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr class="my-5">
  <!-- Process Section -->
  <section>
    <div class="container">
      <div class="justify-content-center">


      <div class="section-title text-center">
        <h1>Process</h1>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </p>
      </div>
      <div class="row align-items-center justify-content-center mb-5">
          <div class="col-lg-3">
            <img class="img-fluid" src="./static/img/process.png" alt="">
          </div>
          <div class="col-lg-7 order-lg-1">
            <h5 class="feature-title">1</h5>
            <p class="grey-text">Our members join nine other members for a session ran by three evaluators. Each member has a 5-7minute speech window and have the option of speaking with or without a ppt. </p>
          </div>
      </div>
      <!-- second row -->
      <div class="row align-items-center justify-content-center mb-5">
        <div class="col-lg-3">
          <img class="img-fluid" src="./static/img/process.png" alt="">
        </div>
        <div class="col-lg-7 order-lg-1">
          <h5 class="feature-title">2</h5>
          <p class="grey-text">By joining a session with other members, it will provide you a small audience and a way to get ideas from other members. </p>
        </div>
    </div>
      <!-- 3rd row -->
      <div class="row align-items-center justify-content-center mb-5">
        <div class="col-lg-3">
          <img class="img-fluid" src="./static/img/process.png" alt="">
        </div>
        <div class="col-lg-7 order-lg-1">
          <h5 class="feature-title">3</h5>
          <p class="grey-text">Written feedback from each of our three evaluators will be emailed within three hours after all members speak. </p>
        </div>
    </div>
       <!-- 4th row -->
       <div class="row align-items-center justify-content-center mb-5">
        <div class="col-lg-3">
          <img class="img-fluid" src="./static/img/process.png" alt="">
        </div>
        <div class="col-lg-7 order-lg-1">
          <h5 class="feature-title">4</h5>
          <p class="grey-text">And guess what? Our members do this right from their own homes using Zoom technology. Be ready to connect withand get inspired! </p>
        </div>
      </div>
    </div>
    </div>
  </section>

  <hr class="my-5">

  <section class="option-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h1>Option</h1>
						<p>
							If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for
							as low as $.17 each.
						</p>
					</div>
				</div>
      </div>

			<div class="row justify-content-center d-flex align-items-center">
				<div class="col-lg-4 col-md-6 col-sm-12 mr-4 single-option">
          <div class="option-select">
            <h4 class="text-white">Option</h4>
            <h3 class="text-white">A</h3>
          </div>
          <div class="d-flex justify-content-center">
            <div>
              <img class="thumb img-fluid" src="./static/img/optiona.png" alt="">
            </div>
         </div>
					<div class="meta-text text-white">
            <div>
              <span class="dot mr-1"></span>
              Evaluations only
            </div>
						<p class="designation">Each session provides feedback from three professional evaluators within three hours
              after each session. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-12 single-option">
            <div class="option-select">
              <h4 class="text-white">Option</h4>
              <h3 class="text-white">B</h3>
            </div>
            <div class="d-flex justify-content-center">
              <div>
                <img class="thumb img-fluid" src="./static/img/optiona.png" alt="">
              </div>
           </div>
            <div class="meta-text text-white">
              <div>
                <span class="dot mr-1"></span>
                Evaluation + Contest
              </div>
              <p class="designation">Feeling a bit competitive? This session will provide you the same three evaluations as option Aand will also provide the top-3 presentations with recognition status.  </p>
              </div>
            </div>

        </div>
			</div>
		</div>
  </section>

  <!-- pricing -->
  <section class="pricing py-5">
    <div class="container">
      <div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="section-title text-center">
						<h1>How much?</h1>
						<p>
							Well if you must ask, how much will it cost to instantly boost your confidence,
            to connect and get inspired by members from all over the world? Here is our schedule:
						</p>
					</div>
				</div>
      </div>
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title">One-time</h5>
              <h3 class="card-option">1</h3>
              <hr>
              <div class="card-description">
                <h3><span class="dot mr-1"></span>$49 </h3>
                <p>
                  for one round of three evaluations.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title">Option</h5>
              <h3 class="card-option">A</h3>
              <hr>
              <div class="card-description">
                <h3><span class="dot mr-1"></span>$49 </h3>
                <p>
                  for one round of three evaluations.
                </p>
              </div>
              <hr>
              <div class="card-description">
                <h3><span class="dot mr-1"></span>$219</h3>
                <p>
                  for five rounds of three evaluations.
                  <span class="card-discount">($26 discount)</span>
                </p>
              </div>
              <hr>
              <div class="card-description">
                <h3><span class="dot mr-1"></span>$399</h3>
                <p>
                  for ten rounds of three evaluations.
                  <span class="card-discount">($91 discount)</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Option</h5>
              <h3 class="card-option">B</h3>
              <hr>
              <div class="card-description">
                <h3><span class="dot mr-1"></span>$59</h3>
                <p>
                  for one round of three evaluations.
                </p>
              </div>
              <hr>
              <div class="card-description">
                <h3><span class="dot mr-1"></span>$245 </h3>
                <p>
                  for five rounds of three evaluations.
                  <span class="card-discount">($50 discount)</span>
                </p>
              </div>
              <hr>
              <div class="card-description">
                <h3><span class="dot mr-1"></span>$500 </h3>
                <p>
                  for ten rounds of three evaluations.
                  <span class="card-discount">($90 discount)</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center ">
          <p>
            Well if you must ask, how much will it cost to instantly boost your confidence,
          to connect and get inspired by members from all over the world? Here is our schedule:
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="./static/vendor/jquery/jquery.min.js"></script>
  <script src="./static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/vendor/bootstrap/js/main.js"></script>
</body>

</html>
